@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-dark-primary: #2B303A;
    --color-dark-secondary: #4E576A;
    --color-main-primary: #FFE66D;
    --color-main-secondary: #F5CC00;
    --color-light-primary: #F5F5F4;
    --color-light-secondary: #E2E2DF;
    --color-accent: #EE4266;
}