@import "tailwindcss";

@theme {
    /*Penn Blue*/
    --color-blue-light: #EEEFFB;
    --color-blue-medium: #5A64D8;
    --color-blue-dark: #17255A;
    /*Saffron*/
    --color-yellow: #F5CB5C;
    /*Chili Red*/
    --color-red: #CA3C25;
}